/*
-------------------------------------- SECTION TURNOS DOCTOR --------------------------------------
*/
.turnos-section {
  padding-top: 100px;
}

#titulo-turnos {
  text-align: center;
}

.card {
  margin-bottom: 20px;
}

.day {
  padding: 10px;
  margin-bottom: 20px;

}

.div-turnos{
  padding-top: 10px;
  padding-left: 10px;
  background-color: #d8d8d8;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.turnos-color{
}

.card-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

@media (max-width: 576px) {
  .card-columns {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .card-columns {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .card-columns {
    grid-template-columns: repeat(3, 1fr);
  }
}

.nav-tabs {
  flex-wrap: wrap;
}

.nav-link {
  white-space: nowrap;
  flex-grow: 1;
  text-align: center;
}

.tab-pane {
  padding: 20px;
}
